div#portal_sidebar {
    background: #278edb;
    padding: 0px;
    .sidebar-header {
    background: #5a37d3;
    color: #fff;
    padding: 1.25em;
   }
   .menu {
    list-style: none;
    background: #ececec;
    font-size: 20px;
   }
}

#portal_content{
    th, td {
        text-align: center;
    }
}
